// Define variables for your color scheme

// For example:
// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$narvik: #E8E7E3;
$chelseacucumber: #C4CFB7;
$riverbed: #4F5A5C;
$bluemist: #B8CBCF;
$powderblue: #D8E3E9;
$gray: #0E0000;
$light-gray: #F4F4F4;
