<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Registrati</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Accedi</a>
      </li>
      <li class="nav-item dropdown">
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="layout-container">
<div class="banner-search" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dbgxzafez/image/upload/v1575303401/Almablu-Wellness-Spa_oapmrf.jpg);">
  <div class="container-search margin-left">
    <h1>Search<strong> your</strong> amazing <strong>wellness experience</strong>!</h1>
    <p>Search, book, and live a unique experience..</p>
    <a class="btn btn-flat" href="#">Search Now</a>
  </div>
</div>
  <h2 class="card-title margin-left">Let yourself be inspired</h2>
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dbgxzafez/image/upload/v1575306822/estheclinic-slimming_kxjr66.jpg)">
    Healt Treatments
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dbgxzafez/image/upload/v1575303401/spa-wellness-green-park-madama-1_y0tpwx.jpg)">
    Spa
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dbgxzafez/image/upload/v1575306450/andergassen-web-1056_yiekir.jpg)">
    Massages
  </div>
</div>
<div class="banner-present" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dbgxzafez/image/upload/v1575303401/spa-wellness-green-park-madama-1_y0tpwx.jpg);">
  <div class="container.present margin-left">
    <h1>Regala Benessere </h1>
    <p>Regala un'esperienza magnifica alla tua persona speciale.</p>
    <a class="btn btn-flat" href="#">Show more</a>
  </div>
</div>

  <h2 class="card-title margin-left">Choose your wellness experience.</h3>
  <p class="card-subtitle margin-left">Are you looking for a location or treatment to regenerate and escape from everyday stress?</p>

<div class="treatments-card-container">
  <div class="card shadow-border" style="width: 18rem;">
  <img class="card-img-top" src="https://res.cloudinary.com/dbgxzafez/image/upload/v1575387888/s_redspu.jpg">
    <div class="card-body">
    <h3 class="center-card-title"> Reflow Center</h3>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a class="btn btn-ghost btn-position" href="#">Show center</a>
    </div>
  </div>

  <div class="card shadow-border" style="width: 18rem;">
  <img class="card-img-top" src="https://res.cloudinary.com/dbgxzafez/image/upload/v1575387887/spa-box-duomo-suites_kow81e.jpg">
  <div class="card-body">
    <h3 class="center-card-title">Nettuno SPA</h3>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a class="btn btn-ghost btn-position" href="#">Show center</a>
    </div>
  </div>

  <div class="card shadow-border" style="width: 18rem;">
  <img class="card-img-top" src="https://res.cloudinary.com/dbgxzafez/image/upload/v1575387885/Fairmont-Scottsdale-Princess_kejz8y.jpg">
    <div class="card-body">
    <h3 class="center-card-title">Beauty Queen</h3>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a class="btn btn-ghost btn-position" href="#">Show center</a>
    </div>

  </div>
  <div class="card shadow-border" style="width: 18rem;">
  <img class="card-img-top" src="https://res.cloudinary.com/dbgxzafez/image/upload/v1575387884/PISCINA-BLU-1_ruroht.jpg">
    <div class="card-body">
    <h3 class="center-card-title">Luisa Beauty Farm</h3>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. </p>
    <a class="btn btn-ghost btn-position" href="#">Show center</a>
    </div>
  </div>
</div>
</div>

<div class="footer footer-white-margin">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
     <p>Aspa Group s.r.l.</p>
  </div>
</div>
